<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - Challenge 1</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <!-- partial:index.partial.html -->
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="https://i.ibb.co/23y8SK5/bcr-icon.png"
      type="image/x-icon"
    />

    <!-- Bootstrap CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <!-- HEADER -->

    <header class="header">
      <!-- overlay -->

      <div class="container">
        <a href="#" class="logo">
          <img
            src="https://i.ibb.co/MkygZR1/bcr-logo.png"
            alt="bcr-logo"
            border="0"
          />
        </a>

        <div class="navigasi-right">
          <nav class="navigasi">
            <ul class="navigasi-list">
              <li>
                <a href="#service" class="navigasi-link text-dark"
                  >Our Services</a
                >
              </li>

              <li>
                <a href="#about" class="navigasi-link text-dark">Why Us</a>
              </li>

              <li>
                <a href="#testimoni" class="navigasi-link text-dark"
                  >Testimony</a
                >
              </li>

              <li>
                <a href="#faq" class="navigasi-link text-dark">FAQ</a>
              </li>
            </ul>
          </nav>

          <div class="header-actions">
            <button class="btn-green">
              <div class="btn">Register</div>
            </button>
          </div>
        </div>
      </div>
    </header>

    <!-- END OF HEADER -->

    <!-- MAIN -->

    <main>
      <article>
        <!-- HERO SECTION -->

        <section class="hero" id="hero">
          <div class="container hero-section">
            <div class="row">
              <!-- Left Section Text -->
              <div class="col left-hero-section">
                <h1 class="heading-hero">
                  Sewa & Rental Mobil Terbaik di kawasan Surabaya
                </h1>
                <p class="detail-heading detail-heading-hero-style">
                  Selamat datang di Binar Car Rental. Kami menyediakan mobil
                  kualitas terbaik dengan harga terjangaku. Selalu siap melayani
                  kebutuhanmu untuk sewa mobil selama 24 jam.
                </p>
                <button class="btn-green btn-hero">
                  <div class="btn" onclick="location.href='./cars'">
                    Mulai Sewa Mobil
                  </div>
                </button>
              </div>

              <!-- Right Section Image -->
              <div class="col imagehero-section">
                <div class="position-relative">
                  <div class="bottom-0 end-0">
                    <img
                      src="https://i.ibb.co/m5Q7kqW/img-car-mercedes.png"
                      alt="img-car-mercedes"
                      border="0"
                      class="imagehero-style"
                      style="width: 280px"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- END OF HERO SECTION -->

        <!-- SERVICE SECTION -->

        <section class="service" id="service">
          <div class="container service-section">
            <div class="row">
              <!-- Left Section Image -->
              <div class="col imageservice-section">
                <div class="position-relative">
                  <div class="top-50 start-50">
                    <img
                      src="https://i.ibb.co/D8vNt8C/img-service.png"
                      alt="img-service"
                      border="0"
                    />
                  </div>
                </div>
              </div>

              <!-- Right Section Text -->
              <div class="col right-service-section">
                <h1 class="heading-service">
                  Best Car Rental for any kind of trip in Surabaya!
                </h1>
                <p class="detail-heading detail-heading-service-style">
                  Sewa mobil di Surabaya bersama Binar Car Rental jaminan harga
                  lebih murah dibandingkan yang lain, kondisi mobil baru, serta
                  kualitas pelayanan terbaik untuk perjalanan wisata, bisnis,
                  wedding, meeting, dll.
                </p>
                <ol class="service-list">
                  <li class="list-detail">
                    <span
                      ><img
                        src="https://i.ibb.co/Tcwn0PN/service-list.png"
                        alt="service-list"
                        border="0"
                    /></span>
                    <p>Sewa Mobil Dengan Supir di Surabaya 12 Jam</p>
                  </li>
                  <li class="list-detail">
                    <span
                      ><img
                        src="https://i.ibb.co/Tcwn0PN/service-list.png"
                        alt="service-list"
                        border="0"
                    /></span>
                    <p>Sewa Mobil Lepas Kunci di Surabaya 24 Jam</p>
                  </li>
                  <li class="list-detail">
                    <span
                      ><img
                        src="https://i.ibb.co/Tcwn0PN/service-list.png"
                        alt="service-list"
                        border="0"
                    /></span>
                    <p>Sewa Mobil Jangka Panjang Bulanan</p>
                  </li>
                  <li class="list-detail">
                    <span
                      ><img
                        src="https://i.ibb.co/Tcwn0PN/service-list.png"
                        alt="service-list"
                        border="0"
                    /></span>
                    <p>Gratis Antar - Jemput Mobil di Bandara</p>
                  </li>
                  <li class="list-detail">
                    <span
                      ><img
                        src="https://i.ibb.co/Tcwn0PN/service-list.png"
                        alt="service-list"
                        border="0"
                    /></span>
                    <p>Layanan Airport Transfer / Drop In Out</p>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </section>

        <!-- END OF SERVICE SECTION -->

        <!-- WHY US SECTION -->

        <section class="whyus mt-4" id="about">
          <div class="container">
            <div class="whyus-section">
              <h1 class="heading-service title-whyus">Why Us?</h1>
              <p class="detail-heading detail-whyus">
                Mengapa harus pilih Binar Car Rental?
              </p>
            </div>

            <div class="whyus-detail">
              <div class="row card-whyus">
                <div class="col-md-6 col-lg-3 card-item-whyus">
                  <div class="card" style="width: 16.75rem; height: 12rem">
                    <div class="card-body">
                      <img
                        src="https://i.ibb.co/h28LtjP/icon-complete.png"
                        class="mb-4"
                        alt="icon-complete"
                        border="0"
                      />
                      <h5 class="card-title bold-card-title">Mobil Lengkap</h5>
                      <p class="card-detail-list">
                        Tersedia banyak pilihan mobil, kondisi masih baru,
                        bersih dan terawat
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 card-item-whyus">
                  <div class="card" style="width: 16.75rem; height: 12rem">
                    <div class="card-body">
                      <img
                        src="https://i.ibb.co/BGp7RHM/icon-price.png"
                        class="mb-4"
                        alt="icon-price"
                        border="0"
                      />
                      <h5 class="card-title bold-card-title">Harga Murah</h5>
                      <p class="card-detail-list">
                        Harga murah dan bersaing, bisa bandingkan harga kami
                        dengan rental mobil lain
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 card-item-whyus">
                  <div class="card" style="width: 16.75rem; height: 12rem">
                    <div class="card-body">
                      <img
                        src="https://i.ibb.co/3WWdkQB/icon-24hrs.png"
                        class="mb-4"
                        alt="icon-24hrs"
                        border="0"
                      />
                      <h5 class="card-title bold-card-title">Layanan 24 Jam</h5>
                      <p class="card-detail-list">
                        Siap melayani kebutuhan Anda selama 24 jam nonstop. Kami
                        juga tersedia di akhir minggu
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 card-item-whyus">
                  <div class="card" style="width: 16.75rem; height: 12rem">
                    <div class="card-body">
                      <img
                        src="https://i.ibb.co/6tysGwY/icon-professional.png"
                        class="mb-4"
                        alt="icon-professional"
                        border="0"
                      />
                      <h5 class="card-title bold-card-title">
                        Sopir Profesional
                      </h5>
                      <p class="card-detail-list">
                        Sopir yang profesional, berpengalaman, jujur, ramah dan
                        selalu tepat waktu
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- END OF WHY US SECTION -->

        <!-- TESTIMONIAL SECTION -->

        <section class="testimonial mt-4" id="testimoni">
          <div class="container">
            <div class="testimonial-text">
              <h1 class="heading-service text-center">Testimonial</h1>
              <h3 class="detail-heading detail-testimonial text-center">
                Berbagai testimonial positif dari para pelanggan kami
              </h3>
            </div>

            <div class="testimonial-contents">
              <div
                id="carouselExampleControlsNoTouching"
                class="carousel slide"
                data-bs-touch="false"
                data-bs-interval="false"
              >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="card card-body body-testi">
                      <!-- <img class="img-fluid" src="http://placehold.it/380?text=1"> -->
                      <div class="row">
                        <div class="col-md-3">
                          <img
                            src="https://i.ibb.co/FB9TD6r/profile-Testi.png"
                            alt="profile-Testi"
                            border="0"
                            class="profile-testi mx-auto"
                          />
                        </div>
                        <div class="col-md-6">
                          <div class="text-center">
                            <img
                              src="https://i.ibb.co/kBf3Kwd/Rate.png"
                              alt="Rate"
                              border="0"
                              class="mt-3 mb-3 rate-testimonial"
                            />
                          </div>
                          <div class="text-testimonial">
                            <p class="card-detail-testi">
                              "Lorem ipsum dolor sit amet consectetur
                              adipisicing elit. Laudantium qui architecto
                              impedit. Quam dicta aliquam reiciendis ex! Soluta,
                              tenetur aliquam."
                            </p>
                            <p class="person-name">
                              <strong>John Dee 32, Bromo</strong>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card card-body body-testi">
                      <div class="row">
                        <div class="col-md-3">
                          <img
                            src="https://i.ibb.co/MPWzMK3/img-photo.png"
                            alt="img-photo"
                            border="0"
                            class="profile-testi mx-auto"
                          />
                        </div>
                        <div class="col-md-6">
                          <div class="text-center">
                            <img
                              src="https://i.ibb.co/kBf3Kwd/Rate.png"
                              alt="Rate"
                              border="0"
                              class="mt-3 mb-3 rate-testimonial"
                            />
                          </div>
                          <div class="text-testimonial">
                            <p class="card-detail-testi">
                              "Lorem ipsum dolor sit amet consectetur
                              adipisicing elit. Laudantium qui architecto
                              impedit. Quam dicta aliquam reiciendis ex! Soluta,
                              tenetur aliquam."
                            </p>
                            <p class="person-name">
                              <strong>John Dee 32, Bromo</strong>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card card-body body-testi">
                      <div class="row">
                        <div class="col-md-3">
                          <img
                            src="https://i.ibb.co/FB9TD6r/profile-Testi.png"
                            alt="profile-Testi"
                            border="0"
                            class="profile-testi mx-auto"
                          />
                        </div>
                        <div class="col-md-6">
                          <div class="text-center">
                            <img
                              src="https://i.ibb.co/kBf3Kwd/Rate.png"
                              alt="Rate"
                              border="0"
                              class="mt-3 mb-3 rate-testimonial"
                            />
                          </div>
                          <div class="text-testimonial">
                            <p class="card-detail-testi">
                              "Lorem ipsum dolor sit amet consectetur
                              adipisicing elit. Laudantium qui architecto
                              impedit. Quam dicta aliquam reiciendis ex! Soluta,
                              tenetur aliquam."
                            </p>
                            <p class="person-name">
                              <strong>John Dee 32, Bromo</strong>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card card-body body-testi">
                      <div class="row">
                        <div class="col-md-3">
                          <img
                            src="https://i.ibb.co/MPWzMK3/img-photo.png"
                            alt="img-photo"
                            border="0"
                            class="profile-testi mx-auto"
                          />
                        </div>
                        <div class="col-md-6">
                          <div class="text-center">
                            <img
                              src="https://i.ibb.co/kBf3Kwd/Rate.png"
                              alt="Rate"
                              border="0"
                              class="mt-3 mb-3 rate-testimonial"
                            />
                          </div>
                          <div class="text-testimonial">
                            <p class="card-detail-testi">
                              "Lorem ipsum dolor sit amet consectetur
                              adipisicing elit. Laudantium qui architecto
                              impedit. Quam dicta aliquam reiciendis ex! Soluta,
                              tenetur aliquam."
                            </p>
                            <p class="person-name">
                              <strong>John Dee 32, Bromo</strong>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="control-button-carousel">
                  <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleControlsNoTouching"
                    data-bs-slide="prev"
                  >
                    <img
                      src="https://i.ibb.co/mJRWGqR/Left-button.png"
                      alt="Left-button"
                      border="0"
                      style="margin-left: -20px"
                    />
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleControlsNoTouching"
                    data-bs-slide="next"
                  >
                    <img
                      src="https://i.ibb.co/BthnFmt/Right-button.png"
                      alt="Right-button"
                      border="0"
                      style="margin-right: -20px"
                    />
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- END OF TESTIMONIAL SECTION -->

        <br />

        <!-- GETTING STARTED SECTION -->

        <section class="started mt-4" id="getting-started">
          <div class="container">
            <div class="started-content">
              <h1 class="heading-started started-title text-center">
                Sewa Mobil di Surabaya Sekarang
              </h1>
              <h3 class="detail-heading detail-started-content text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A
                sapiente rem nulla sint, iste eaque ducimus doloremque sequi
                dicta. Corporis.
              </h3>
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-green btn-hero button-action"
                >
                  Mulai Sewa Mobil
                </button>
              </div>
            </div>
          </div>
        </section>

        <!-- END OF GETTING STARTED SECTION -->

        <!-- FAQ SECTION -->

        <section class="faq mt-4" id="faq">
          <div class="container faq-section">
            <div class="faq-details">
              <!-- Left Section -->
              <div class="left-section mb-3">
                <h1 class="heading-faq">Frequently Asked Question</h1>
                <p class="faq-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing
                </p>
              </div>

              <!-- Right Section -->

              <div class="right-section ms-1">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseOne"
                      >
                        Apa saja syarat yang dibutuhkan?
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseOne"
                      class="accordion-collapse collapse"
                      aria-labelledby="panelsStayOpen-headingOne"
                    >
                      <div class="accordion-body">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Repellat optio consectetur soluta dicta, quidem,
                        ipsum excepturi dolorum aliquam, ullam ratione explicabo
                        quia deleniti minima suscipit.
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-3">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo"
                      >
                        Berapa hari minimal sewa mobil lepas kunci?
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseTwo"
                      class="accordion-collapse collapse"
                      aria-labelledby="panelsStayOpen-headingTwo"
                    >
                      <div class="accordion-body">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Doloremque, deserunt. Nihil tenetur corporis alias
                        facere quidem harum, ea, architecto dignissimos, neque
                        temporibus explicabo necessitatibus sed!
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-3">
                    <h2
                      class="accordion-header"
                      id="panelsStayOpen-headingThree"
                    >
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree"
                      >
                        Berapa hari sebelumnya sebaiknya booking sewa mobil?
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseThree"
                      class="accordion-collapse collapse"
                      aria-labelledby="panelsStayOpen-headingThree"
                    >
                      <div class="accordion-body">
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Enim eaque ut illum beatae rem delectus
                        repellendus odit cupiditate, quisquam illo temporibus
                        error quam asperiores! Placeat!
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-3">
                    <h2
                      class="accordion-header"
                      id="panelsStayOpen-headingFour"
                    >
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour"
                      >
                        Apakah Ada biaya antar-jemput
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseFour"
                      class="accordion-collapse collapse"
                      aria-labelledby="panelsStayOpen-headingFour"
                    >
                      <div class="accordion-body">
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Enim eaque ut illum beatae rem delectus
                        repellendus odit cupiditate, quisquam illo temporibus
                        error quam asperiores! Placeat!
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-3">
                    <h2
                      class="accordion-header"
                      id="panelsStayOpen-headingFive"
                    >
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFive"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFive"
                      >
                        Bagaimana jika terjadi kecelakaan?
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseFive"
                      class="accordion-collapse collapse"
                      aria-labelledby="panelsStayOpen-headingFive"
                    >
                      <div class="accordion-body">
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Enim eaque ut illum beatae rem delectus
                        repellendus odit cupiditate, quisquam illo temporibus
                        error quam asperiores! Placeat!
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <br />
        <!-- END OF FAQ SECTION -->
      </article>
    </main>

    <!-- END OF MAIN -->

    <!-- FOOTER -->

    <footer class="container-fluid py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3 mb-3">
            <p>Jalan Suroyo No. 161 Mayangan Kota Probolonggo 672000</p>
            <p>binarcarrental@gmail.com</p>
            <p>081-233-334-808</p>
          </div>
          <div class="col-md-3 mb-3">
            <h5 class="navigasi-footer mb-3">Our Services</h5>
            <h5 class="navigasi-footer mb-3">Why Us</h5>
            <h5 class="navigasi-footer mb-3">Testimonial</h5>
            <h5 class="navigasi-footer mb-3">FAQ</h5>
          </div>
          <div class="col-md-3 mb-3 footer-sosmed-section">
            <p>Connect with us</p>
            <div class="d-flex flex-column content-sosmed">
              <div class="d-flex grouping-socialmedia">
                <img
                  src="https://i.ibb.co/3TQ1Bgh/icon-facebook.png"
                  alt="icon-facebook"
                  border="0"
                  class="mx-2"
                />
                <img
                  src="https://i.ibb.co/TqJsYch/icon-instagram.png"
                  alt="icon-instagram"
                  border="0"
                  class="mx-2"
                />
                <img
                  src="https://i.ibb.co/Dfw5cLB/icon-twitter.png"
                  alt="icon-twitter"
                  border="0"
                  class="mx-2"
                />
                <img
                  src="https://i.ibb.co/tY0TB5Z/icon-mail.png"
                  alt="icon-mail"
                  border="0"
                  class="mx-2"
                />
                <img
                  src="https://i.ibb.co/z79LS0p/icon-twitch.png"
                  alt="icon-twitch"
                  border="0"
                  class="mx-2"
                />
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3 copyright-section">
            <p>Copyright Binar 2022</p>
            <a href="#" class="logo">
              <img
                src="https://i.ibb.co/MkygZR1/bcr-logo.png"
                alt="bcr-logo"
                border="0"
              />
            </a>
          </div>
        </div>
      </div>
    </footer>

    <!-- END OF FOOTER -->

    <!-- script -->
    <script src="script.js"></script>

    <!-- Bootstrap Link -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <!-- partial -->
    <script src="https://rawcdn.githack.com/akzhy/Vara/c55a1b40c15b808cdd4a047de95c905094be87db/src/vara.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- partial -->
    <script src="https://rawcdn.githack.com/akzhy/Vara/c55a1b40c15b808cdd4a047de95c905094be87db/src/vara.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>
